@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:wght@400;500;600&display=swap');
:root{
    --branco: #FFFFFF;
    --cinza: #5c5b5b;
    --botao-azul: #C5FCFF;
    --amarelo: #E4BC7F;
    --azul: #0B2B40;
    --fonte--principal: 'Poppins', sans-serif;
    --fonte--secundaria: 'Raleway', sans-serif;
    ; 
}

body{
    background-color: var(--branco);
    color: var(--azul);
    font-family: var(--fonte--secundaria);
    size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: flex;
    background-color: var(--azul);
    padding: 0;
    color: var(--branco);
    align-items: center;
    padding-bottom: 10px;
    font-family: var(--fonte--principal);
    height: 110px;
}

.cabecalho__logo{
    padding: 50px;
    height: 30px;
    width: 10%;
}
.cabecalho__menu{
    display: flex;
    justify-content: flex-end;
    color: var(--branco);
    padding: 15px 16px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    justify-content: space-between;
    gap: 5px;
}
.cabecalho__menu:hover{
    color: var(--botao-azul);
}
.cabecalho__agendar{
    text-decoration: none;
    font-size: 18px;
    color: var(--azul);
    margin: 30px;
    background-color: var(--botao-azul);
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;

}
.cabecalho__agendar:hover{
    padding: 18px 30px 18px 30px;
}
.comeco{
    background-image: url(assets/josy.png);
    background-repeat: no-repeat;
    background-size: 500px 600px; ;
    background-position: 80%;
    align-items: center;
    text-align: center;
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__caixa{
    margin: 0 6em;
}
.container__titulo{
    font-size: 28px;
    font-family: var(--fonte--principal);
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{
    display: flex;
    background-color: var(--botao-azul);
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    color: #0B2B40;
    display: inline;
    margin: 1em 1em;
    font-family: var(--fonte--secundaria);
    font-size: 16px;
    border-radius: 30px
    
}
.container__aviso{
    margin-top: 3em;
    font-size: 10px;
    color: var(--cinza);
    font-family: var(--fonte--secundaria);
    font-weight: 400;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem{
    width: 500px;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 42px;
    color: var(--azul);
    padding-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza);
}
.secundario__botao{
    display: inline-block;
    margin: 1em 0;
}
.secundario__imagem2{
    width: 700px;
}

.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    font-family: var(--fonte--principal);
    margin-bottom: 30px;
}
.dispositivos__lista{
   display: flex; 
   justify-content: center;
   list-style-type: none;
}
.lista__item{
    font-size: 32px;
    font-family: var(--fonte--secundaria);
    margin-bottom: 50px;
}
.rodape{
    padding-top: 14px;
    font-family: var(--fonte--principal);
    background-color: var(--azul);
    text-decoration: none;
}

.rodape__inicial{
    display: inline-grid;
    grid-template-columns: 22.9% 25% 16% 21% 18%;

}
.rodape__parte{
    margin: 30px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    line-height: 20px;
}
.rodape__logo{
    height: 157px;
    width: 200px;
}
.rodape__titulo{
    font-family: var(--fonte--principal);
    color: var(--branco);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;

}
.rodape__informacoes{
    margin-top: 5px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 300;
    color: var(--branco);
    text-decoration: none;   
}

.rodape__informacoes__link{
    text-decoration: none;
    color: var(--branco);
}
.rodape__informacoes__link:hover{
    color: var(--botao-azul);
}

.rodape__icone{
    height: 45px
    
}
.rodape__final{
    padding: 15px;
    background-color: var(--amarelo);
    color: var(--azul);
    font-size: 17px;
    font-family: var(--fonte--secundaria);
    font-weight: 500;
}